html{
    background-image: url(bg.png);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
body{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}
/*Wie krieg ich den Hintergrund(Kreis) ganz nach oben?*/
header{
    background-image: url('Circle.png');
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position: center -800px;
    padding: 0 50px 200px 50px;
}
.Menu{
    position: fixed;
    top: 0;
    right: 30px;
    padding: 0 0 0 0;
    width: fit-content;
    height: fit-content;
    background-color: rgb(227, 200, 166);
    border-radius: 0 0 10px 10px;
    color: rgb(221, 74, 255);
    font-size: 10px;
}
.navlink{
    text-transform: uppercase;
    margin: 10px;
}
.navlink:hover{
    color: rgb(184, 11, 11);
}
.navlink:active{
    color: darkgoldenrod;
}


.socials{
    margin: 50px 0 0 0;
    width: 18%;
    display: inline-block;
    text-align: center;
}
.SMnav{
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}


.hP{
    text-align: center;
    margin-top: 80px;
    font-size: xx-large;
    color: rgb(73, 73, 73);
}


main{
    width: 100%x;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 20px 20px;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 150px;
    color: slateblue;
    text-shadow: 2px 2px 5px lightslategray;
    padding: 0 0 20px 0;
}
a{
    text-decoration: none;
    color: hotpink;
}
#Portfolionav{
    display: block;
}
#Portfolionav p{
    display: flex;
    justify-content: center;
    font-size: larger;
}
#Portfolionav ul{
    display: flex;
    justify-content: space-around;
    font-size: medium;
}

section{
    display: block;

}
h3{
    display: flex;
    font-size: xx-large;
    color: coral;
    text-transform: uppercase;
    padding: 50px 0 0 0;
}
main div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main img{
    width: 50%;
    height: 50%;
    float: left;
    padding: 5px;
}
main video{
    width: 100%;
    height: 100%;
    float: left;
    padding: 5px;
}
main audio{
    width: 100%;
    height: 100%;
    float: left;
    padding: 5px;
}




#kontaktformular{
    border-style: groove;
    border-width: 5px;
    border-color: rgb(144, 144, 255);
    padding: 20px;
}
input{
    font-size: 20px;
    background-color: rgb(177, 177, 177);
}
textarea{
    font-size: 20px;
    width: 100%;
    background-color: rgb(177, 177, 177);
    color: honeydew;
}
#grey{
    color: grey;
    font-size: 8px;
}
::placeholder {
  color: rgb(255, 206, 133);
}
