h1{
    color: slateblue;
    text-shadow: 2px 2px 5px lightslategray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
}
#kontaktformular{
   background-color: rosybrown;

}