html{
    background-image: linear-gradient(45deg, rgba(252, 196, 255, 0.31), rgba(255, 220, 160, 0.303));
}
h1{
    color: slateblue;
    text-shadow: 2px 2px 5px lightslategray;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3{
    color: coral;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant-alternates: historical-forms ;
}
a{
    text-decoration: none;
    color: hotpink;
}
#kontaktformular{
   background-color: rgba(0,255,255,0.1);

}
.footerlink{
    color: indigo;
    text-decoration: underline;
    margin: 10px, 50px, 50px, 0px;
    
}